<%= tag.div id: dom_id(post, :liked_by) do %>
  <% if @post.liked_users.any? %>
    <div>
      <h3>Liked by <%= @post.liked_users.count %> <%= "person".pluralize(@post.liked_users.count) %> </h3>
      <% @post.liked_users.each do |user| %>
        <%= link_to user.profile.full_name, user_profile_path(user), class:'link-tertiary' %>
        <br>
      <% end %>
    </div>
  <% end %>
<% end %>
